SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_URL=""
VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""
MERCADOPAGO_ACCESS_TOKEN=""
MERCADOPAGO_TEST_PAYER_EMAIL=""
MERCADOPAGO_WEBHOOK_URL=""
VITE_MERCADOPAGO_PUBLIC_KEY=""
MERCADOPAGO_WEBHOOK_SECRET=""
